.container{
    background-color: #FFFFFF;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.header{
    height: 150px;
    padding: 0 10% 0 10%;
    display: flex;
    justify-content: center;
}

.header_logo{
    font-size: 50px;
    align-items: center;
    display: flex;
    justify-content: flex;
    
}

.nav{
    background-color: #F5F5F5;
    width: 80%;
    padding: 0 10% 0 10%;
    display: flex;
    justify-content: center;
}

.nav_item{
    max-width: 15%;
    min-width: 15%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

a{
    color:rgb(0, 0, 0);
    
}

a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

.main{
    padding: 0 10% 0 10%;

}

.picture{
    padding: 0 10% 0 10%;
    max-height: 627px;
    display: flex;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: column;
}

.info_header{
    text-align: center;
}

.info_sect{
    padding: 0 10% 0 10%;
    display: flex;
}

.info_sect_article{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 5% 0 5%;
}

.footer{
    background-color: #F5F5F5;
    padding: 0 20% 0 20%;
    text-align: center;
}
    
body{
    margin:0px;
    padding: 0px;
}
